.hero {
  margin-bottom: 40px;
  padding-block: 100px;
  text-align: center;
  background: var(--color-hero-bg);
}

.heroTitle {
  margin-bottom: 16px;
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
}

.description {
  max-width: 600px;
  margin: 0 auto 32px;

  font-size: 17px;
  line-height: 1.6;
  color: var(--color-text-dim);
}

.btnLink {
  display: inline-block;

  padding: 16px 32px;
  border-radius: 14px;

  font-size: 16px;
  font-weight: 800;
  color: var(--color-text-inverse);

  background-color: var(--color-accent);

  transition: 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .btnLink:hover {
    transform: translateY(-2px);
    opacity: 0.9;
  }
}
