.coursePageTitle {
  position: relative;

  margin-bottom: 20px;
  padding-left: 25px;

  font-size: clamp(30px, 5vw, 48px);
  font-weight: 800;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 4px;
    height: 48px;
    border-radius: var(--radius-10);

    background-color: var(--color-accent);
    box-shadow: var(--shadow-accent-strong);
  }
}

.courseIntroduction {
  max-width: 650px;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 1.4;
  color: var(--color-text-secondary);
}
