.subtopic {
  margin-bottom: 30px;
  padding: 32px;
  border: 1px solid var(--surface-8);
  border-radius: var(--radius-24);

  background-color: var(--surface-2);
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
}

.description {
  font-size: 15px;
  line-height: 1.5;
}
