.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  place-items: center;

  margin-bottom: 100px;
  padding: 60px;
  border: 1px solid var(--color-line);
  border-radius: 24px;

  background-color: var(--color-card-bg);
}

.aboutTitle {
  margin-bottom: 20px;
  font-size: clamp(24px, 3vw, 32px);
  font-weight: 800;
  line-height: 1.2;
}

.aboutMotivation {
  margin-bottom: 24px;
  line-height: 1.7;
  color: var(--color-text-dim);
}

.aboutVisual {
  max-width: 500px;
  border: 1px solid var(--color-line);
  border-radius: 24px;
}

.aboutImage {
  display: block;
  border-radius: 24px;
}

.featuresList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.featuresItem {
  display: flex;
  gap: 10px;
  align-items: center;

  font-size: 14px;
  font-weight: 600;
}

.featuresItem::before {
  content: '⟶';
  color: var(--color-accent);
}

@media (width < 769px) {
  .about {
    grid-template-columns: 1fr;
    padding: 30px;
  }
}
