.course {
  padding: 48px;
  border: 1px solid var(--color-line);
  border-radius: var(--radius-xl);
  background-color: var(--color-course-bg);

  @media (width < 600px) {
    padding-inline: 20px;
  }
}

.courseAboutTitle {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 800;
}

.courseDescription {
  margin-bottom: 40px;
  line-height: 1.4;
  color: var(--color-text-dim);
}

.courseTopicsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.courseTopic {
  cursor: pointer;

  display: flex;
  gap: 16px;
  align-items: center;

  width: 100%;
  padding: 20px;
  border: 1px solid var(--color-line);
  border-radius: var(--radius-lg);

  font-weight: 600;
  line-height: 1.5;
  color: var(--color-text);

  background-color: var(--color-topic-bg);

  transition: var(--transition-normal);

  &::before {
    content: '⟶';
    font-size: 18px;
    font-weight: 900;
    color: var(--color-accent);
  }
}

.activeTopic {
  border-color: var(--color-accent);
}

@media (hover: hover) and (pointer: fine) {
  .courseTopic:hover {
    border-color: var(--color-accent);
    background-color: var(--color-topic-active-bg);
  }
}
