.course {
  padding: 48px;
  border: 1px solid var(--surface-8);
  border-radius: var(--radius-24);
  background-color: var(--surface-2);

  @media (width < 600px) {
    padding-inline: 20px;
  }
}

.courseAboutTitle {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 800;
}

.courseDescription {
  margin-bottom: 40px;
  line-height: 1.4;
  color: var(--color-text-secondary);
}

.courseTopicsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.courseTopic {
  cursor: pointer;

  display: flex;
  gap: 16px;
  align-items: center;

  width: 100%;
  padding: 20px;
  border: 1px solid var(--surface-8);
  border-radius: var(--radius-16);

  font-weight: 600;
  line-height: 1.5;
  color: var(--color-text-primary);

  background-color: var(--surface-2);

  transition: var(--transition-base);

  &::before {
    content: '⟶';
    font-size: 18px;
    font-weight: 900;
    color: var(--color-accent);
  }
}

.activeTopic {
  border-color: var(--color-accent);
}

@media (hover: hover) and (pointer: fine) {
  .courseTopic:hover {
    border-color: var(--color-accent);
    background-color: var(--accent-4);
  }
}
