.courseCard {
  display: flex;
  flex-direction: column;

  min-height: 350px;
  padding: 32px;
  border: 1px solid var(--surface-8);
  border-radius: var(--radius-24);

  color: inherit;

  background-color: var(--surface-2);

  transition: var(--transition-slow);
}

.tag {
  align-self: flex-start;

  margin-bottom: 24px;
  padding: 5px 12px;
  border-radius: var(--radius-8);

  font-size: 10px;
  font-weight: 800;
  color: var(--color-accent);
  text-transform: uppercase;

  background-color: var(--accent-10);
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  margin-bottom: 30px;

  font-size: 22px;
  font-weight: 700;
  text-overflow: ellipsis;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;

  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text-secondary);
  text-overflow: ellipsis;
}

.params {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: auto;
  padding-top: 24px;
  border-top: 1px solid var(--surface-8);

  font-size: 13px;
}

.difficultyWrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}

.difficulty {
  margin-left: 10px;
  color: var(--color-text-secondary);
}

.diffBar {
  width: 3px;
  height: 12px;
  border-radius: var(--radius-4);
  background-color: var(--surface-8);
}

.diffBar.filled {
  background-color: var(--color-accent);
  box-shadow: var(--shadow-glow);
}

.tasksCount {
  font-weight: 700;
  color: var(--color-text-primary);
}

@media (hover: hover) and (pointer: fine) {
  .courseCard:hover {
    transform: translateY(-6px);
    border-color: var(--color-accent);
    background: var(--surface-4);
  }
}
