.form {
  display: grid;
  gap: 30px;
}

.formRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formLabel {
  font-size: 13px;
  font-weight: 700;
}

.formInput {
  padding: 14px 16px;
  border: 1px solid var(--surface-8);
  border-radius: var(--radius-8);

  font-size: 16px;
  color: inherit;

  background-color: var(--surface-3);

  transition: var(--transition-base);

  &:focus {
    border-color: var(--color-accent);
    background-color: var(--accent-2);
    outline: none;
  }
}

.formBtn {
  cursor: pointer;

  justify-self: start;

  padding: 16px 40px;
  border: none;
  border-radius: var(--radius-12);

  font-size: 16px;
  font-weight: 800;
  color: var(--color-text-inverse);

  background-color: var(--color-accent);

  transition: var(--transition-base);
}

@media (hover: hover) and (pointer: fine) {
  .formBtn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
  }
}

@media (width < 769px) {
  .formBtn {
    place-self: center;
  }
}

@media (width < 500px) {
  .formRow {
    grid-template-columns: 1fr;
  }
}
