.coursePage {
  padding-block: 80px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 40px;

  @media (width < 1000px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
