.link {
  display: block;

  width: 100%;
  height: 100%;
  padding: 8px 12px;
  border-radius: 10px;

  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-dim);
  text-decoration: none;
  text-transform: capitalize;

  transition: all 0.2s ease;
}

.link:hover {
  color: var(--color-text);
}

.link.active {
  color: var(--color-text);
}

.link span {
  margin: 0 4px;
  color: var(--color-text-dim);
}
